<form (ngSubmit)="searchCity()" class="animate__animated animate__bounceInUp">
  <input
    type="text"
    placeholder="Search city"
    [(ngModel)]="cityName"
    name="city"
    required
  />

  <button mat-flat-button type="submit">
    {{ weatherData != null ? "Search again!" : "Search!" }}
  </button>
</form>

<div
  *ngIf="weatherData"
  class="container animate__animated animate__bounceInUp"
>
  <div class="main">
    <div class="left-part">
      <div class="city">{{ cityData.name }}</div>
      <div class="location">
        <div class="country">{{ cityData.country }},</div>
        <div class="state">{{ cityData.state }}</div>
      </div>
    </div>
    <div *ngIf="details" class="details">
      <div class="details-left">
        <div>
          <span>Feels Like:</span>
          {{ weatherData.current.feels_like | number : "1.0-0" }}°C
        </div>
        <div>
          <span>Visibility:</span> {{ weatherData.current.visibility / 1000 }}km
        </div>
        <div>
          <span>Description:</span>
          {{ weatherData.current.weather[0].description }}
        </div>
      </div>
      <div class="details-right">
        <div><span>Clouds:</span> {{ weatherData.current.clouds }}%</div>
        <div>
          <span>Wind speed:</span> {{ weatherData.current.wind_speed }} m/s
        </div>
        <div>
          <span>Sunset:</span>
          {{ weatherData.current.sunset * 1000 | date : "HH:mm" }}
        </div>
      </div>
    </div>
    <div class="right-part">
      <div class="temperature">
        {{ weatherData.current.temp | number : "1.0-0" }}°C
      </div>
      <img
        src="https://openweathermap.org/img/wn/{{
          weatherData.current.weather[0].icon
        }}@2x.png"
      />
    </div>
  </div>
  <div class="bottom-part">
    <div class="buttons">
      <button mat-button (click)="displayDetails()">
        {{ !details ? "Show details" : "Hide details" }}
      </button>
      <button mat-button (click)="showHourlyForecast = !showHourlyForecast">
        {{
          !showHourlyForecast ? "Show hourly forecast" : "Hide hourly forecast"
        }}
      </button>
      <button mat-button routerLink="/forecast">5 day forecast</button>
    </div>
  </div>
  <div *ngIf="showHourlyForecast" class="animate__animated animate__zoomIn">
    <app-hourly-forecast [forecastData]="weatherData"></app-hourly-forecast>
  </div>
</div>
