@import "../../../styles/styles.scss";

.container {
  background-color: #9db2bf;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: fit-content;

  margin: auto;
  margin-top: 30px;
  transition: 0.5s;

  .main {
    display: flex;
    justify-content: space-around;

    .left-part {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .city {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 25px;
      }

      .location {
        display: flex;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 15px;

        .country {
          margin-right: 10px;
        }
        .state {
          font-family: "Lato", sans-serif;
          font-weight: 300;
          font-size: 15px;
        }
      }
    }

    .right-part {
      display: flex;
      align-items: center;

      .right-part img {
        height: 100px;
        width: 100px;
      }

      .temperature {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 40px;
        margin: 10px;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.mdc-button {
  background-color: #f8f6f4;
  margin: 20px;
}

form {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #526d82;

  input {
    border: none;
    margin: 20px;
    width: 400px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
  }
}

.details {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
