@import "../styles/styles.scss";

.mat-toolbar {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;

  h2 {
    color: $text-color;
    align-self: center;
    justify-self: center;
  }
}
