<mat-toolbar>
  <img src="https://openweathermap.org/img/wn/10d@2x.png" />
  <button mat-flat-button routerLink="">Home</button>
</mat-toolbar>
<div id="background-wrap">
  <div class="x1">
    <div class="cloud"></div>
  </div>

  <div class="x2">
    <div class="cloud"></div>
  </div>

  <div class="x3">
    <div class="cloud"></div>
  </div>

  <div class="x4">
    <div class="cloud"></div>
  </div>

  <div class="x5">
    <div class="cloud"></div>
  </div>
</div>
<router-outlet></router-outlet>
