@import "../styles/styles.scss";

.mat-toolbar {
  background-color: #27374d;
  display: flex;
  justify-content: space-between;

  // .mdc-button {
  //   background-color: #f8f6f4;
  //   margin: 20px;
  // }

  h2 {
    color: white;
    align-self: center;
    justify-self: center;
  }
}
