@import "../../../styles/styles.scss";

.container {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  max-width: 1050px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $text-color;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $secondary-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 5px;
  }

  .tile {
    background-color: $primary-color;
    border-radius: 5px;
    margin: 20px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 250px;
    transition: 0.5s;
    color: $text-color;

    .date {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 20px;
    }

    img {
      height: 100px;
      width: 100px;
    }

    .temperature {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .weather {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 14px;
    }
  }
}
