@import "../../../styles/styles.scss";

.container {
  display: flex;
  justify-content: space-evenly;
  margin: auto;

  .tile {
    background-color: $primary-color;
    border-radius: 5px;
    margin: 20px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 250px;
    transition: 0.5s;
    color: $text-color;

    .date {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 20px;
    }

    img {
      height: 100px;
      width: 100px;
    }

    .temperature {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .weather {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 14px;
    }
  }
}
