@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 20px;
  transition: 0.5s;
}

.container:hover {
  transition: 0.5s;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-part img {
  height: 80px;
  width: 80px;
}

.right-part {
  display: flex;
  align-items: center;
}

.city {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.state {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.temperature {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 10px;
}

input {
  border: none;
  margin: 20px;
  width: 300px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  height: 30px;
}

.location {
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.country {
  margin-right: 10px;
}

button {
  border: none;
  padding: 8px;
  background-color: gray;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: 0.5s;
}

button:hover {
  transition: 0.5s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
